<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Website</title>

    <!-- Link to Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
       {% load static %}

    <!-- Link to your custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My CV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'personal_info' %}">Personal Info</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'add_education' %}">Education</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'add_work_experience' %}">Work Experience</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'add_skill' %}">Skill</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'add_project' %}">Project</a></li>

            </ul>
        </div>
    </nav>

    <!-- Content will go here -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
